.spider {
  position: fixed;
  top: 50px;
  left: 50px;
  display: inline-block;
}

.spider-wrist {
  width: 100px;
  height: 100px;
  background-image: url("https://flyclipart.com/thumb2/web-clipart-spiderman-shooting-web-345429.png");
  background-position: initial;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  z-index: 10;
}

.spider-web {
  position: absolute;
  z-index: 1;
  top: 25px;
  left: 0;
  width: 50px;
  height: 50px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcP69QCPmYWXTdXNjgdRfgEo9H-H1tdUyssQ&usqp=CAU");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}